/* --> Nav <-- */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
nav *{
    margin: 0px;

}
ul{
    padding: 0px;
}
ul>li{
    display: inline-block;
    margin-right: 20px;
}
li{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

a{

    text-decoration: none;
    color: #111;
}
a:hover{
    color: #f51;
}

/* --> First <-- */

.first{
    background-color: #ddf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.first>div{

    padding: 20px 20px 20px 80px;
    box-sizing: border-box;
}

.first__left>h1{
    margin: 0px;
    margin-bottom:20px;
    font-size: 80px;
}

.first__left>p{
    margin-bottom: 100px;
}

.first__left>button{
    background-color: #111;
    color: #fff;
    border: none;
    padding: 10px 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.first__left>button:hover{
    background-color: #f51;
}


.first__right>img{
    max-height: 700px;
}


/* --> Features <-- */
.features{
    display: flex;
    margin-top: -50px;
    justify-content:center;


}
.features>div{
    background-color: #fff;
    
}

.features__card{
    padding: 20px 40px;
    display: inline-block;
}
.features__card>div{
    display: inline-block;
    vertical-align: top;
}

.features__card>div>span{
    margin-right: 10px;
    color: #f51;
    font-size: 40px;
}
.features__card >div>*{
margin: 0px;
}

/* --> Description <-- */
.description{
    display: flex;
    padding: 80px 80px 0px 80px;
    border-bottom: 3px solid #ccf;
}
.description>div{
    padding: 80px 80px 0px 80px;
}
.description>div>p{
    margin-bottom: 60px;
}

/* --> Products <-- */
.products__title{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    align-items: center;
}
.products__title>div>h2{
    font-size: 30px;
}
.products__title li{
    transition-duration: 0.3s;
    cursor: pointer;
}

.products__title li:hover{
    color: #f51;
}


.products__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    place-items: center;
  }



.product__card{
    width: 300px;
    overflow: hidden;
    padding: 20px;
}

.product__card__discount{
    position: absolute;
    padding: 0px 20px;
}
.product__card__discount>p{
    margin: 0px;
    padding: 2px 2px;
    color: white;
    background-color: #f51;
}

.product__card__image img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    transition-duration: 0.5s;
}

.product__card__image{
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.product__card__image>div{
    position: relative;
    background-color: white;
    width: 100%;
    height: 300px;
    padding: 10px 0px;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
}
.product__card__image>div>*{
    margin: 0px 2px;
    cursor: pointer;
}

.product__card__image:hover>div{
    margin-top:-100px ;
}
.product__card__image:hover>img{
    transform: rotate(-10deg) scale(1.2); 
}
.product__card__data{
    margin-top: 10px;
    display: flex;
}
.product__card__data{
    justify-content: space-between;
    align-items:center;
    margin-top: 10px;
    display: flex;
}
.product__card__data>div{
    padding: 0px 5px;
}
.product__card__data p{
    font-size: 18px;
    margin: 5px 0px;
}

.product__card__data>div>div>*{
    display: inline-block;
    margin-right: 10px;
}
.product__card__data>div>div>*{
    display: inline-block;
    margin-right: 10px;
}
.product__card__data>div>span{
    cursor: pointer;
}
.discount{
    color: #f51;
}

/* --> Category <-- */
section>h2{
    margin: 80px 00px 0px 80px;
    font-size: 30px;
}
.card__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    padding: 0px 80px;
}
.card__category{
    padding: 20px 20px 0px 20px;
    background-color: #ddf;
}
.card__grid>div:first-child {
    grid-column: 1 / 3;
}
.card__category>h2{
    font-size: 50px;

}
.card__category>p{
    height: 50px;

}
.card__category>div{
    display: flex;
    align-items: center;
}


.card__category img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition-duration: 0.3s;
}

.card__category>div>div{
    width: calc(100% - 200px);
    height: 300px;
    overflow: hidden;
}



.card__category>div{
    width: 100%;
    height: 300px;
    cursor: pointer;
    overflow: hidden;

}

.card__category>div>button{
    background-color: #111;
    margin: 0px 20px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.card__category>div>button:hover{
    background-color: #f51;
}

.card__category:hover img{
    transform: scale(1.2); 
}

/* --> Instagram <-- */

.images__grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
    padding: 0px 80px;
}
.images__grid>img{
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}

/* --> Email <-- */

.email{
    margin: 200px 0px;
    padding: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.email__input{
    align-items: center;
    display: flex;
    margin: 0px 80px;
    width: 50%;
    border-bottom: 1px solid #777;
}

.email__input input{
    margin: 0px 10px;
    border: none;
    outline: none;
    color: #777;
    width: calc(100% - 100px);
}

.email__input p{
cursor: pointer;
}

footer{
    background-color:#ddf;
    display: flex;
    justify-content: space-between;
    padding: 80px;
    align-items: center;
    

}
footer *{
    margin: 0px;

}
footer>.title{
    font-size: 50px;
}

/* --> Category <-- */
.sup{
    height: 500px;
}
.sup>div>img{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.sup>div>div{
    position: absolute;
    width: 100%;
    z-index: -5;
    height: 400px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
}

.sup>div>h1{
    text-align: center;
    margin: 0px;
    padding: 50px 0px;
    font-size: 200px;
    color: white;
}

.sup>.sup__description{
    margin: auto;
    width: 800px;
    border-radius: 20px;
    background-color: white;
    padding: 20px 20px;
    box-shadow: 0px 0px 50px 0.1px black;
}

.sup>.sup__description>p{
    margin: 0px;
}


/* --> ListCategory <-- */




.category>a>div{
    border-radius: 20px;
    overflow: hidden;
    height: 200px;
    width: 800px;
    margin: 60px auto;
    padding: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0.1px black;
}
.category>a>div>img{
    border-radius: 20px;
    position: absolute;
    z-index: -10;
    width: 800px;
    height: 200px;  
    object-fit: cover;
}
.category>a>div>div{
    border-radius: 20px;
    position: absolute;
    width: 800px;
    z-index: -5;
    height: 200px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.category>a>div>h1{
    text-align: center;
    margin: 0px;
    padding: 42px 0px;
    font-size: 100px;
    color: white;
}

/* Ver Productos */

.product{
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}
.product>div{
max-width: 700px;
width: 50%;
padding: 0px 50px;
box-sizing: border-box;

}

.product>.product__left>img{
    width: 500px;
    height: 700px;
}

.left__imgs{
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.left__imgs>img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.product__right>h1{
    margin: 0px;

}

.product__calification{
    margin: 10px 0px;
    align-items: center;
    display: flex;
}
.product__calification>p{
    margin: 0px;
    margin-right: 40px;
    margin-left: 10px;
}

.prueba{
    font-variation-settings:'FILL' 1;
    color: green;
}

.product__right>.product__price{
display: flex;
align-items: center;
}

.product__right>.product__price>h2{
    margin: 0px;
    margin-right: 10px;
}
.product__right>.product__price del{
    font-size: 15px;
}
    
.gray{
    color: #555;
}

.product__options>div>p{
    margin: 10px 0px;
}

.product__count{
    margin: 30px 0px;
    border-radius: 20px;
    border: 1px solid #111;
    width: max-content;
    padding: 3px;
    overflow: hidden;
    }

.product__count>*{
    display: inline-block;
    margin: 0px 10px;
    }

.product__category>p{
    margin: 0px;
}
.product__category{
    margin: 30px 0px 80px 0px;
}

.product__category>div{
    display: flex;

}
.product__category>div>*{
    margin-right: 10px;
}

.product__action{
    display: flex;
    align-items: center;
}
.product__action *{
    margin-right: 40px;
}


.product__action>button{
    background-color: #111;
    color: #fff;
    border: none;
    padding: 10px 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.product__action>button:hover{
    background-color: #f51;
}

.more{
    padding: 0px 20% ;
    min-height: 400px;
}

.more__sup{
    display: flex;
    justify-content: center;
}

.more__sup h3{
    cursor: pointer;
    margin: 10px 30px;
    padding: 10px;
}
.more__sup>.select{
    border-bottom: 4px solid #f51;
}

.ocult{
    visibility: hidden;
    height: 0px;
}

.op2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.op2>p:nth-child(2n){
    color: rebeccapurple;
    grid-column-start: 2;
    grid-column-end: 5;
}

.card__comment>div{
    display: flex;
    justify-content: space-between ;
}

.card__comment>div>.card__comment__date{
    display: flex;
}
.card__comment>div>.card__comment__date>p{
    display: flex;
    margin-right: 20px;
}

.card__comment>p{
margin: 0px;
}

.input__comment{
    margin: 100px 0px;
}

.input__comment>div{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.input__comment>textarea{
    width: 100%;
    height: 150px !important; 
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    outline: none;

}

.input__comment>div>button{
    background-color: #111;
    color: #fff;
    border: none;
    padding: 10px 20px;
    transition-duration: 0.3s;
    cursor: pointer;
    margin: 10px 0px;
}


.input__comment>div>button:hover{
    background-color: #f51;
}
.input__comment>.input__comment-button{
    justify-content: flex-end ;
}

.cart>.cart__grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 40px;
    align-items: center;
    text-align: center;
    row-gap: 40px;
    
}
.cart>.cart__grid>img{
    width: 80px;
    height: 100px;
    object-fit: cover;
    margin: auto;


}
.cart__count{
    margin: auto;
    border-radius: 20px;
    border: 1px solid #111;
    height: min-content;
    width: max-content;
    padding: 3px;
    overflow: hidden;
    }

.cart__count>*{
    display: inline-block;
    margin: 0px 10px;
    }

    .action{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 80px;
        margin: auto;
    }
    .action button{
        background-color: #111;
        color: #fff;
        border: none;
        padding: 10px 20px;
        transition-duration: 0.3s;
        cursor: pointer;
        margin: 20px 0px;
    }
    
    .action button:hover{
        background-color: #f51;
    }

    .caja {
        margin: 10px 0px;
        border:1px solid #d9d9d9;
        height:30px;
        overflow: hidden;
        width: 230px;
        position:relative;
     }
     select {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 30px;
        padding: 5px;
        width: 250px;
     }
     select:focus{ outline: none;}
     
     .caja::after{
         content:"\025be";
         display:table-cell;
         padding-top:7px;
         text-align:center;
         width:30px;
         height:30px;
         background-color:#d9d9d9;
         position:absolute;
         top:0;
         right:0px;	
         pointer-events: none;
     }

     .action>div>input{
        border: none;
        outline: none;
        border-bottom: 1px solid #111;
        width: 80%;
        margin: 20px 0px;
     }

     .action__end>div{
        display: flex;
        align-items: center;
        justify-content: space-between;
     }

     .action__end>div>h3{
        color: #f51 ;
     }